#login{
	height: 100%;
	width: 100%;
	padding:2rem;
	
	.panel {
		border:none;
		border-radius: 0px 0px 0px 0px;
		
		.panel-body{
			.form-horizontal{
				.form-group{
					button{
						background-color:#3F51B5;
						border-radius: 0px 0px 0px 0px;
						color: #FFF;
					}
				}
			}
		}
	}
	
	.panel > .panel-heading {
		color: #fff;
		background-color:#3F51B5;
		border-color:transparent;
		border-radius: 0px 0px 0px 0px;
	}
}