#post{
	height:100%;
	width: 100%;
	padding-left: 0px;
	padding-right: 0px;
	
	.post_cover, img{
		height:450px;
		width: 99%;
		margin-top:-5px;
		z-index:-9999;
	}

	.post__info{
		min-height: 100px;
		width: 100%;
		background:#fff;
		z-index:9999;
		margin-top:-120px;
		color:#fff;
	}
	.post_description{
		min-height:350px;
		width: 80%;
		background:#fff;
		overflow-y:visible;
		padding:5rem;
		font-size:18px;
		margin: 0 auto;
	}
}