/**
 * Variables
 */
/**
 * globally variables for welcome page
 */
@-webkit-keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeDown {
  0% {
    opacity: 0;
    margin-top: -20px;
  }
  100% {
    opacity: 1;
    margin-top: 0px;
  }
}

@keyframes fadeDown {
  0% {
    opacity: 0;
    margin-top: -20px;
  }
  100% {
    opacity: 1;
    margin-top: 0px;
  }
}

@-webkit-keyframes fadeUp {
  0% {
    opacity: 0;
    margin-top: 250px;
  }
  100% {
    opacity: 1;
    margin-top: 0px;
  }
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    margin-top: 250px;
  }
  100% {
    opacity: 1;
    margin-top: 0px;
  }
}

#header {
  height: 85px;
  width: 100%;
  background: #000;
  padding-left: 0px;
  padding-right: 0px;
}

#header .brand-name a {
  color: #fff;
}

#header .menu-list {
  padding: 3rem;
  left: 0;
}

#header .menu-list .list-item {
  display: inline;
  margin-left: 1rem;
}

#header .menu-list .list-item a {
  color: #fff;
}

#footer {
  min-height: 200px;
  width: 100%;
  background: #000;
  color: #fff;
  padding: 5rem;
  font-size: 11px;
}

#footer .social-menu .list-item {
  list-style-type: none;
  margin-bottom: 1rem;
}

#footer .social-menu .list-item a {
  color: #fff;
  font-size: 15px;
  text-align: center;
}

#footer .sitemap .list-item {
  list-style-type: none;
  margin-bottom: 1rem;
}

#footer .sitemap .list-item a {
  color: #FFF;
  font-size: 15px;
  text-align: center;
}

.bottom-footer {
  height: 40px;
  width: 100%;
  background: #03A9F4;
  padding: 1rem;
  color: #FFF;
}

@-webkit-keyframes color {
  0% {
    background: #06506B;
    color: #000;
  }
  25% {
    background: #F34C4C;
  }
  50% {
    background: #8eb4cb;
  }
  75% {
    background: #2ab27b;
  }
  100% {
    background: #fff;
  }
}

@keyframes color {
  0% {
    background: #06506B;
    color: #000;
  }
  25% {
    background: #F34C4C;
  }
  50% {
    background: #8eb4cb;
  }
  75% {
    background: #2ab27b;
  }
  100% {
    background: #fff;
  }
}

@-webkit-keyframes reversecolor {
  0 {
    background: #fff;
  }
  25% {
    background: #2ab27b;
    color: #000;
  }
  50% {
    background: #8eb4cb;
  }
  75% {
    background: #F34C4C;
  }
  100% {
    background: #06506B;
  }
}

@keyframes reversecolor {
  0 {
    background: #fff;
  }
  25% {
    background: #2ab27b;
    color: #000;
  }
  50% {
    background: #8eb4cb;
  }
  75% {
    background: #F34C4C;
  }
  100% {
    background: #06506B;
  }
}

#layout {
  height: 100%;
  width: 100%;
  background: #DFEFF9;
  font-family: 'Raleway';
  overflow-x: hidden;
  @impport 'pages/about';
}

#layout .loader {
  height: 100%;
  width: 100%;
  background: #000;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0;
  bottom: 0;
  z-index: 2;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 300px;
}

#layout .loader .cp-meter {
  -webkit-animation: color 5s linear infinite;
  animation: color 5s linear infinite;
}

#layout #header {
  height: 85px;
  width: 100%;
  background: #000;
  padding-left: 0px;
  padding-right: 0px;
}

#layout #header .brand-name a {
  color: #fff;
}

#layout #header .menu-list {
  padding: 3rem;
  left: 0;
}

#layout #header .menu-list .list-item {
  display: inline;
  margin-left: 1rem;
}

#layout #header .menu-list .list-item a {
  color: #fff;
}

#layout #login {
  height: 100%;
  width: 100%;
  padding: 2rem;
}

#layout #login .panel {
  border: none;
  border-radius: 0px 0px 0px 0px;
}

#layout #login .panel .panel-body .form-horizontal .form-group button {
  background-color: #3F51B5;
  border-radius: 0px 0px 0px 0px;
  color: #FFF;
}

#layout #login .panel > .panel-heading {
  color: #fff;
  background-color: #3F51B5;
  border-color: transparent;
  border-radius: 0px 0px 0px 0px;
}

#layout #register {
  height: 100%;
  width: 100%;
  padding: 2rem;
}

#layout #register .panel {
  border: none;
  border-radius: 0px 0px 0px 0px;
}

#layout #register .panel .panel-body .form-horizontal .form-group button {
  background-color: #3F51B5;
  border-radius: 0px 0px 0px 0px;
  color: #FFF;
}

#layout #register .panel > .panel-heading {
  color: #fff;
  background-color: #3F51B5;
  border-color: transparent;
  border-radius: 0px 0px 0px 0px;
}

#layout #blog {
  height: 100%;
  width: 80%;
  padding: 2rem;
}

#layout #blog .blog_post {
  background: #fff;
  border-bottom: 10px solid #DFEFF9;
  border-right: 10px solid #DFEFF9;
}

#layout #blog .blog_post .blog_post__cover {
  padding: 1rem;
}

#layout #blog .blog_post .blog_post__cover:hover .overlay {
  display: block;
  -webkit-transition: ease-in-out 0.2s all;
  transition: ease-in-out 0.2s all;
}

#layout #blog .blog_post .blog_post__cover .overlay {
  height: 250px;
  width: 94%;
  position: absolute;
  background: #06506B;
  opacity: .9;
  display: none;
  padding: 10rem;
}

#layout #blog .blog_post .blog_post__cover img {
  min-height: 250px;
  width: 100%;
}

#layout #blog .blog_post .blogpost_description {
  padding: 1.5rem;
}

#layout #post {
  height: 100%;
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
}

#layout #post .post_cover, #layout #post img {
  height: 550px;
  width: 99%;
  margin-top: -5px;
  z-index: -9999;
}

#layout #post .post__info {
  min-height: 100px;
  width: 100%;
  background: #fff;
  z-index: 9999;
  margin-top: -120px;
  color: #fff;
}

#layout #post .post_description {
  min-height: 350px;
  width: 80%;
  background: #fff;
  overflow-y: visible;
  padding: 5rem;
  font-size: 18px;
  margin: 0 auto;
}

#layout #head-section {
  min-height: 650px;
  width: 100%;
  background: url("../images/blogging-336376_1920.jpg");
  background-size: cover;
  font-family: helvetica;
  color: #FFF;
}

#layout #head-section .row.headline-row {
  height: auto;
  width: auto;
  margin-bottom: 250px;
  -webkit-animation: fadeDown 2s;
  animation: fadeDown 2s;
}

#layout #head-section .row.information {
  height: auto;
  width: auto;
  -webkit-animation: fadeUp 2s;
  animation: fadeUp 2s;
}

#layout #footer {
  min-height: 200px;
  width: 100%;
  background: #000;
  color: #fff;
  padding: 5rem;
  font-size: 11px;
}

#layout #footer .social-menu .list-item {
  list-style-type: none;
  margin-bottom: 1rem;
}

#layout #footer .social-menu .list-item a {
  color: #fff;
  font-size: 15px;
  text-align: center;
}

#layout #footer .sitemap .list-item {
  list-style-type: none;
  margin-bottom: 1rem;
}

#layout #footer .sitemap .list-item a {
  color: #FFF;
  font-size: 15px;
  text-align: center;
}

#layout .bottom-footer {
  height: 40px;
  width: 100%;
  background: #03A9F4;
  padding: 1rem;
  color: #FFF;
}

/*# sourceMappingURL=homepage.css.map */
