/**
 * Variables
 */
/**
 * globally variables for welcome page
 */
@-webkit-keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeDown {
  0% {
    opacity: 0;
    margin-top: -20px;
  }
  100% {
    opacity: 1;
    margin-top: 0px;
  }
}

@keyframes fadeDown {
  0% {
    opacity: 0;
    margin-top: -20px;
  }
  100% {
    opacity: 1;
    margin-top: 0px;
  }
}

@-webkit-keyframes fadeUp {
  0% {
    opacity: 0;
    margin-top: 250px;
  }
  100% {
    opacity: 1;
    margin-top: 0px;
  }
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    margin-top: 250px;
  }
  100% {
    opacity: 1;
    margin-top: 0px;
  }
}

@-webkit-keyframes color {
  0% {
    background: #06506B;
    color: #000;
  }
  25% {
    background: #F34C4C;
  }
  50% {
    background: #8eb4cb;
  }
  75% {
    background: #2ab27b;
  }
  100% {
    background: #fff;
  }
}

@keyframes color {
  0% {
    background: #06506B;
    color: #000;
  }
  25% {
    background: #F34C4C;
  }
  50% {
    background: #8eb4cb;
  }
  75% {
    background: #2ab27b;
  }
  100% {
    background: #fff;
  }
}

@-webkit-keyframes reversecolor {
  0 {
    background: #fff;
  }
  25% {
    background: #2ab27b;
    color: #000;
  }
  50% {
    background: #8eb4cb;
  }
  75% {
    background: #F34C4C;
  }
  100% {
    background: #06506B;
  }
}

@keyframes reversecolor {
  0 {
    background: #fff;
  }
  25% {
    background: #2ab27b;
    color: #000;
  }
  50% {
    background: #8eb4cb;
  }
  75% {
    background: #F34C4C;
  }
  100% {
    background: #06506B;
  }
}

#welcome {
  height: 100%;
  width: 100%;
  background: #DFEFF9;
}

#welcome .loader {
  height: 100%;
  width: 100%;
  background: #000;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0;
  bottom: 0;
  z-index: 2;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 300px;
}

#welcome .loader .cp-meter {
  -webkit-animation: color 5s linear infinite;
  animation: color 5s linear infinite;
}

#welcome #header {
  height: 85px;
  width: 100%;
  background: #000;
  padding-left: 0px;
  padding-right: 0px;
  position: fixed;
  opacity: 0.9;
}

#welcome #header .brand-name a {
  color: #fff;
}

#welcome #header .menu-list {
  padding: 3rem;
  left: 0;
}

#welcome #header .menu-list .list-item {
  display: inline;
  margin-left: 1rem;
}

#welcome #header .menu-list .list-item a {
  color: #fff;
}

#welcome #head-section {
  min-height: 650px;
  padding-top: 10rem;
  width: 100%;
  background: url("../images/blogging-336376_1920.jpg");
  background-size: cover;
  font-family: "Raleway";
  color: #FFF;
}

#welcome #head-section .row.headline-row {
  height: auto;
  width: auto;
  margin-bottom: 250px;
  -webkit-animation: fadeDown 5s;
  animation: fadeDown 5s;
}

#welcome #head-section .row.information {
  height: auto;
  width: auto;
  -webkit-animation: fadeUp 5s;
  animation: fadeUp 5s;
}

/*# sourceMappingURL=welcome.css.map */
