#profile{
	padding:2rem;

	.profile-header{
		padding:2rem;
		background: #fff;
		color: #000;

		a{
			color: #90CAF9;
		}

		.avatar > img {
			border: 3px solid #1A237E;
			border-radius: 100px;
		}

		.avatar{
			border-bottom: 1px solid #000;
			width: auto;
		}

		.information{

			.name {
				font-size: 20px;
			}

			.email{
				a{
					color: #90CAF9;
				}
			}

			.email, .dream-job, .current-job, .job-count{
				font-size:12px;
			}
		}
	}
}
