@import 'variables/welcome_variables';
@import 'keyframes/_all';
@import 'pages/components/_all';
// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

@keyframes color {
	0% {
		background: $brand-primary;
		color: #000;
	}
	25% {
		background: $brand-danger;
	}

	50% {
		background:$brand-info;
	}

	75% {
		background: $brand-success;
	}
	100% {
		background: #fff;
	}
}

@keyframes reversecolor {
	0{
		background: #fff;
	}
	25% {
		background: $brand-success;
		color: #000;
	}
	50% {
		background: $brand-info;
	}

	75% {
		background:$brand-danger;
	}

	100% {
		background: $brand-primary;
	}
}

#layout{
	height: 100%;
	width: 100%;
	background: $body-bg;
	font-family: 'Raleway';
	overflow-x:hidden;
	
	.loader{
		height:100%;
		width: 100%;
		background: #000;
		position:fixed;
		top: 0px;
		left: 0px;
		right: 0;
		bottom: 0;
		z-index:2;
		display:flex;
		justify-content:center;
		padding-top:300px;
		
		.cp-meter {
			-webkit-animation: color 5s linear infinite;
			   -moz-animation: color 5s linear infinite;
			     -o-animation: color 5s linear infinite;
			        animation: color 5s linear infinite;
		}
	}

	@import 'pages/components/header';
	@import 'pages/auth/_all';
	@impport 'pages/about';
	@import 'pages/blog';
	@import 'pages/post';
	
	#head-section{
		min-height: $head-section-height;
		
		width: $head-section-width;
		background: $head-section-image;
		-webkit-background-size: $head-section-image-size;
		     -o-background-size: $head-section-image-size;
		        background-size: $head-section-image-size;
		
		font-family: helvetica;
		color: #FFF;
		
		.row.headline-row{
			height: auto;
			width: auto;
			margin-bottom: 250px;
			-webkit-animation: fadeDown 2s;
			   -moz-animation: fadeDown 2s;
			     -o-animation: fadeDown 2s;
			        animation: fadeDown 2s;
		}

		.row.information {
			height: auto;
			width: auto;
			-webkit-animation: fadeUp 2s;
			   -moz-animation: fadeUp 2s;
			     -o-animation: fadeUp 2s;
			        animation: fadeUp 2s;
		}
	}

	@import 'pages/components/footer';

}