#app-header{
    height: 40px;
    width: 100%;
    background-color: #3F51B5;

    .navbar-header > .navbar-brand{
        color: #fff;
    }

    #app-navbar-collapse{
        .nav {
                background: #3F51B5;
                margin-top:-2px;
            li{
                a{
                    color: #fff;
                }

                &.dropdown > a{
                    background: #3F51B5;
                }
            }

            .menu{
                color: #fff;
            }
        }
    }
}
