#app-header{
    height: 40px;
    width: 100%;
    background-color: #3F51B5;

    .nav-wrapper{

        .brand-logo{
            top:-10px;
            margin-left:10px;
            font-size: 15px;
        }

        .right{
            li{
                line-height: 39px;
            }
        }
    }
}
